<h1>To Do List</h1>
<form action="/task/create" method="post">
  <label for="newTask2">Make:</label>
  <input id="newTask2" name="newTask2" type="text">

  <label for="new-task">Model:</label>
  <input id="new-task" name="new-task" type="text">

  <label for="newtask3">Price:</label>
  <input id="newtask3" name="newtask3" type="text">
  <button type="submit">Submit</button>
</form>
